* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 40px;
}

#nav-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px black solid;
    border-width: 90%;
    /* margin-bottom: 1.5rem; */
}

nav h1 {
    font-size: 3rem;
}

button {
    /* background-color: #605145;
    color: #ffb700;
    padding: .4rem .8rem;
    border-radius: .5rem;
    border: none; */
    align-self: center;
    padding: 0px 8px;
    border: 1px solid rgb(0, 98, 255);
    box-shadow: 0 0 2px rgb(0 26 255);
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: .2s;
}


button:hover {
    /* background-color: #512F14;
    color: #ffb700;
    cursor: pointer; */
    cursor: pointer;
    transform: scale(.9);
    filter: brightness(90%);
}

nav>div {
    display: flex;
    flex-direction: column;
}

nav>div>div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .25rem;
}

nav>div>div>a>img {
    width: 1.5rem;
}

#nav-home>a>img {
    /* background-color: black;
    margin: 0 1rem; */
    width: 5rem;
}

#nav-home>a>img:hover {
    /* background-color: black;
    margin: 0 1rem; */
    /* filter: brightness(98%); */
    transform: scale(1.03);
    box-shadow: 0 0 7px black;
}

#add-blog-link {
    align-self: center;
    padding: 0px 14px;
    border: 1px solid rgb(0, 98, 255);
    box-shadow: 0 0 2px rgb(0 26 255);
    background-color: #1DA1F2;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: .2s;
}

#add-blog-link:hover {
    transform: scale(.9);
}

nav>div>p {
    display: inline-block;
}