* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px black solid;
    border-width: 90%;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
}

button {
    align-self: center;
    padding: 0px 8px;
    border: 1px solid rgb(0, 98, 255);
    box-shadow: 0 0 2px rgb(0 26 255);
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    text-decoration: none;

    padding: .4rem .8rem;
    border-radius: .5rem;
    border: none;

}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}