* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px black solid;
    border-width: 90%;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
}

button {
    background-color: #605145;
    color: #ffb700;
    padding: .4rem .8rem;
    border-radius: .5rem;
    border: none;
}

button:hover {
    background-color: #512F14;
    color: #ffb700;
    cursor: pointer;
}