footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    /* background-color: #9abad4; */
    padding: .2rem .5rem;
    /* position: fixed;
    bottom: 0px;
    left: 40px;
    right: 40px; */
}

footer>a {
    align-self: center;
    padding: 4px 8px;
    border: 1px solid rgb(0, 98, 255);
    box-shadow: 0 0 2px rgb(0, 26, 255);
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

footer>a:hover {
    cursor: pointer;
    filter: brightness(90%);
}

img {
    width: 2rem;
}