<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H-DIY</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/landing/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar/navhomestyle.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer_style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
</head>

<body id="home-page-container">
    {% include "navbar_home.html" %}
    <div id="main">
        <form action="/blog/filter" method="post" id="filters-form">
            <div>
                <input type="radio" id="kitchen" name="filter" value="kitchen">
                <label for="kitchen">kitchen</label>
                </input>
            </div>
            <div>
                <input type="radio" id="bathroom" value="bathroom" name="filter">
                <label for="bathroom">bathroom</label>
                </input>
            </div>
            <div>
                <input type="radio" id="electrical" value="electrical" name="filter">
                <label for="electrical">electrical</label>
                </input>
            </div>
            <div>
                <input type="radio" id="plumbing" value="plumbing" name="filter">
                <label for="plumbing">plumbing</label>
                </input>
            </div>
            <div>
                <input type="radio" id="yard" value="yard" name="filter">
                <label for="yard">yard</label>
                </input>
            </div>
            <span>
                <input type="submit" value="Filter">
                <a href="/home">clear</a>

            </span>
        </form>

        {% if filtered_blogs %}
        <h2>{{filtered_blogs[0].category.capitalize()}} Blogs</h2>
        <div id="filtered-container">
            {% for blog in filtered_blogs %}
            <a href="/blog/{{blog.id}}" class="entire-card-link">
                <div class="blog-card">
                    <h3>{{blog.title}}</h3>
                    <img src="https://images.pexels.com/photos/3990359/pexels-photo-3990359.jpeg" alt="">
                    {% if blog.is_user_favorite %}
                    <img src="../static/img/red-heart.png" alt="" class="not-favorite red-heart-img">
                    {% else %}
                    <img src="../static/img/heart-thin.png" alt="" class="not-favorite">
                    {% endif %}
                    <p>{{blog.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}

        <h2>Favorite Blogs</h2>
        <div id="favorites-container">
            {% if favorite_blogs %}
            {% for blog in favorite_blogs %}
            <a href="/blog/{{blog.id}}" class="entire-card-link">
                <div class="blog-card">
                    <h3>{{blog.title}}</h3>
                    <img src="https://images.pexels.com/photos/3990359/pexels-photo-3990359.jpeg" alt="">
                    <img src="../static/img/red-heart.png" alt="" class="not-favorite">
                    <p>{{blog.description}}</p>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>

        {% if recent_blogs %}
        <h2>Recent Blogs</h2>
        <div id="recents-container">
            {% for blog in recent_blogs %}
            <a href="/blog/{{blog.id}}" class="entire-card-link">
                <div class="blog-card">
                    <h3>{{blog.title}}</h3>
                    <img src="https://images.pexels.com/photos/3990359/pexels-photo-3990359.jpeg" alt="">
                    <img src="../static/img/heart-thin.png" alt="" class="not-favorite">
                    <p>{{blog.description}}</p>
                </div>
            </a>
            {% endfor %}
            {% endif %}

            <div class="blog-card final">
                <h3>Find More...</h3>
                <img src="../static/img/Coding_Dojo.png" alt="">
                <img src="../static/img/heart-thin.png" alt="" class="not-favorite">
                <p>click me to see more</p>
            </div>
        </div>
    </div>

    </div>
    {% include "footer.html" %}

    <script src="../static/js/script.js"></script>
</body>

</html>