<body>
    <nav id="nav-home">
        <a href="/home">
            <img src="../static/img/Coding_Dojo.png" alt="" width="50rem">
        </a>
        <h1>H-DIY</h1>

        <div>
            <p>Welcome, {{session["user_first_name"]}}</p>
            <div id="nav-home-links">
                <a href="#">
                    <img src="../static/img/notification-bell.png" alt="user image">
                </a>
                <a href="#">
                    <img src="../static/img/userImg.svg" alt="user image">
                </a>
                <a href="/blog/new" id="add-blog-link">+</a>
                <a href="/logout">
                    <button id="logout-btn">logout</button>
                </a>
            </div>
        </div>
    </nav>
</body>