* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uchen', serif;
    font-size: 1.25rem;
}

#login-nav>img {
    width: 3rem;
}

#home-page-container,
#show-page-body,
#show-page-container {
    background-color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem .5rem 2rem;
}

#login-form form {
    gap: 10px;
}

#register-form form {
    gap: 5px;
}

#login-form,
#register-form {
    margin: 0 auto 1rem auto;
    border: 1px solid black;
    max-width: 30rem;
    box-shadow: 0px 0px 10px black;

}

#register-form h2,
#login-form h2 {
    border-bottom: 2px solid black;
}

#login-form a {
    align-self: end;
    margin-bottom: 1rem;
}

#password-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #767676;
    border-radius: 0.15rem;
}

#password-container>input {
    border: none;
    padding-right: 1rem;
    flex: 1;
}

#password-container>p {
    align-self: center;
    font-size: .5rem;
    position: relative;
    right: 1rem;
}

.hidden {
    display: none;
    /* display: block; */
}

.show {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 30rem;
    gap: 1rem
}

#city-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#state-container {
    display: flex;
    flex-direction: column;
    /* max-width: 3rem; */
}

#signup-btn,
#signin-btn,
#new-blog-btn {
    margin: 2rem 0 1rem 0;
    /* align-self: center; */
    padding: 0px 8px;
    border: 1px solid rgb(0, 98, 255);
    box-shadow: 0 0 2px rgb(0 26 255);
    background-color: #1DA1F2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

#signup-btn:hover,
#new-blog-btn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

span {
    color: red;
    font-size: .75rem;
    margin: 0;
}


/* filter form */
#filters-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #9abad4ba;
    border-bottom: solid 1px #000000;
    box-shadow: 0px 0px 3px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#filters-form>div {
    display: flex;
    flex-direction: column;
}

#filters-form>div:hover {
    font-weight: bolder;
}

#filters-form>div input[type=radio] {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

#filters-form>div input[type=radio]+label {
    /* color: black; */
    color: black;
}

#filters-form>div input[type=radio]:checked+label {
    font-weight: bold;
    color: red;
}

#filters-form>span>a {
    text-decoration: none;
}

#filters-form>span>input[type="submit"],
#filters-form>span>a {
    background-color: #134a8f;
    border: none;
    color: white;
    padding: 2px 10px;
    border-radius: 1rem;
    transition: .3s;
}

#filters-form>span>input[type="submit"]:hover,
#filters-form>span>a:hover {
    transform: scale(1.03);
    background-color: #47b933;
}

/* https://www.sliderrevolution.com/resources/styling-radio-buttons/ */
/* #main input[type="radio"]:checked+label {
    display: none;
    background-color: red;
    color: red;
} */

#favorites-container,
#recents-container,
#filtered-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}

#main h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

#main {
    /* min-height: 100vh; */
    margin-bottom: 2rem;
}

.entire-card-link {
    text-decoration: none;
    color: #000000;
}

.blog-card {
    background-color: #f6f7ff;
    border: 1px solid black;
    border-radius: .2rem;
    box-shadow: 0 0 2px black;
    width: 15rem;
    height: 19rem;
    transition: 0.3s;
    overflow: hidden;
}

.blog-card:hover {
    cursor: pointer;
    /* transform: translate(0, -10px); */
    transform: scale(1.04) translateY(-15px);
    box-shadow: 0px 0 10px black;
}

.blog-card>h3 {
    background-color: #1DA1F2;
    color: white;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px 10px;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-card>img {
    background-color: #000000;
    display: block;
    width: 100%;
    height: 8rem;
    object-fit: contain;
}

.blog-card>p {
    margin-top: -2rem;
    padding: 0 .5rem;
    /* overflow: hidden; */
    /* overflow-y: hidden;
    text-overflow: ellipsis;
    height: 8rem; */
}

.blog-card #final-p {
    margin-top: 0rem;
    padding: 0 .5rem;
    /* overflow: hidden; */
    /* overflow-y: hidden;
    text-overflow: ellipsis;
    height: 8rem; */
}

.blog-card>img.not-favorite {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    filter: invert();
    position: relative;
    bottom: 2rem;
    /* margin-bottom: 0rem; */
    left: 12rem;
    display: inline;
}

#favorites-container img.not-favorite {
    filter: none;
}

img.not-favorite.red-heart-img {
    filter: none;
}


.blog-card.final>p {
    text-align: center;
}

.blog-card.final>img {
    background-color: black;
    text-align: center;
}

.blog-card.final>img.not-favorite {
    background-color: transparent;
}

#blog-form-container {
    min-width: 50rem;
    margin: 0 auto;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-container>label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #134a8f;
    border-radius: .5rem;
    padding: 1rem;
    width: 150px;
}

#category-check-container {
    display: flex;
    /* justify-content: center; */
    gap: 40px
}

#show-page-container {
    /* min-height: 100vh; */
    margin: 0 auto;
    width: 80%;
}

#blog-show-img {
    min-width: 50rem;
    max-width: 100rem;
}

#blog-show-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

#blog-show-header>form {
    padding: 0px;
}

#blog-show-header>h2 {
    font-size: 2rem;
}

.show-category {
    padding: 0 .5rem;
    /* border: 1px solid black; */
    border-radius: 1rem;
}

#blog-show-categories {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

#cat-color-1 {
    background-color: red;
    color: white;
}

#cat-color-2 {
    color: white;
    background-color: green;
}

#cat-color-3 {
    color: white;
    background-color: blue;
}

#cat-color-4 {
    color: white;
    background-color: purple;
}

#cat-color-5 {
    color: white;
    background-color: grey;
}

#cat-color-6 {
    color: white;
    background-color: goldenrod;
}