<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body id="users-container">
    <div class="left-col">
        <h2>{{user.first_name +" " + user.last_name }} favorites</h2>
        {% if all_books == False %}
        <p>No favorites</p>
        {% else %}
        <!-- {{all_books|length}} -->
        <table>
            <thead>
                <th>Title</th>
                <th># of pages</th>
            </thead>
            <tbody>
                {%for fav in all_books%}
                <tr>
                    <td>{{fav.title}}</td>
                    <td>{{fav.num_of_pages}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% endif %}
        <a href="/users">Home</a>
    </div>
    <div class="right-col">
        <h2>Add User's Favorite Book</h2>
        <p>make a select tab for all books (not currently in their favs?)</p>
    </div>
</body>

</html>