<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users CR App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body class="create-content-contianer">
    <div class="form-header">
        <h1>Add a New User</h1>
        <a href="/users">Home</a>
    </div>

    <form action="\users\new\process_new" method="post">
        <div>
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" id="first_name">
        </div>
        <div>
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" id="last_name">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" id="email">
        </div>
        <input type="submit" value="Create">
    </form>
</body>

</html>