<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users CR App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>All Users</h1>

    <table>
        <thead>
            <th>ID</th>
            <th>Full Name</th>
            <th>EMAIL</th>
            <th>Created At</th>
            <th>Actions</th>
        </thead>
        {% for user in all_users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name + " " + user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at.strftime("%B %d, %Y")}}</td>
            <td><a href="/users/{{user.id}}">Show</a> | <a href="/edit_page/{{user.id}}">Edit</a> | <a
                    href="/delete/{{user.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/users/new">Add a New User</a>
</body>

</html>