<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header">
        <h1>Add a New Recipe!</h1>
        <div class="links">
            <a href="/recipes">back to recipes</a>
            <a href="/logout">logout</a>
        </div>
    </div>

    <div class="container">
        <form action="/recipes/process" method="post">
            <div class="col-l">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                    {% for message in get_flashed_messages(category_filter=["name_error_recipe"]) %}
                    {{message}}
                    {% endfor%}
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea name="description" id="description"></textarea>
                    {% for message in get_flashed_messages(category_filter=["description_error_recipe"]) %}
                    {{message}}
                    {% endfor%}
                </div>
                <div>
                    <label for="instructions">Instructions:</label>
                    <textarea name="instructions" id="instructions"></textarea>
                    {% for message in get_flashed_messages(category_filter=["instructions_error_recipe"]) %}
                    {{message}}
                    {% endfor%}
                </div>
            </div>
            <div class="col-r">
                <div>
                    <label for="date_made">Date Cooked/Made:</label>
                    <input type="date" name="date_made" id="date_made">
                    {% for message in get_flashed_messages(category_filter=["date_made_error_recipe"]) %}
                    {{message}}
                    {% endfor%}
                </div>
                <div>
                    <label for="under_thirty">Under 30 mins?</label>
                    Yes<input type="radio" name="under_thirty" id="under_thirty" value="1" checked>
                    No<input type="radio" name="under_thirty" id="under_thirty" value="0">
                </div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

</body>

</html>