<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Welcome, {{ session["user_name"] }}</h1>
    <div class="header">
        <h2>Register</h2>
        <div class="links">
            <a href="/recipes/new">+ Create</a>
            <a href="/logout">logout</a>
        </div>
    </div>

    <table>
        <thead>
            <th>Name</th>
            <th>Under 30</th>
            <th>Posted By</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{recipe.name}}</td>
                <td>{{ "yes" if recipe.under_thirty == 1 else "No" }}</td>
                <td>{{recipe.user.first_name}}</td>
                <td>
                    <a href="/recipes/{{recipe.id}}">view recipe</a>
                    {% if session["user_id"] == recipe.user.id %}
                    | <a href="/recipes/edit/{{recipe.id}}">edit</a>
                    | <a href="/delete/{{recipe.id}}">delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="container">
    </div>
</body>

</html>