* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 166, 251);
}

#users-container {
    display: flex;
    justify-content: space-around;
}

.display-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 1rem;
    background-color: darkkhaki;
    border: 2px solid black;
}