<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <h1>Checkers - rows & columns</h1>

    {% for i in range(rows) %}
    <div class="container">
        {% if i%2 ==0 %}
        {% for j in range(cols) %}
        <div class="square" style="background-color: {{color1}};"></div>
        <div class="square" style="background-color: {{color2}};"></div>
        {% endfor %}

        {% else %}
        {% for j in range(cols) %}
        <div class="square" style="background-color: {{color2}};"></div>
        <div class="square" style="background-color: {{color1}};"></div>
        {% endfor %}

        {% endif %}
    </div>
    {% endfor %}

</body>

</html>