* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.take-guess {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    background-color: grey;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form input {
    border-radius: .25rem;
    padding: .25rem;
}

form input[type='submit'] {
    background-color: gold;
}

.guess-block {
    width: 300px;
    height: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}