<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div id="col-left">
        <h1>Welcome {{session.user_name}}</h1>
        <form action="\logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
</body>

</html>